.Container {
  width: 100vw;
  height: 10.25vw;
  position: relative;
  margin-bottom: 3.9vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  background-color: #c4dec1;
}

.Menu {
  width: 44.2vw;
  margin-top: 3.5vw;
  position: absolute;
  right: 8vw;
}

ul {
  list-style-type: none;
  display: flex;
  height: 2vw;
  width: inherit;
  justify-content: space-between;
  align-items: middle;
}

.Link {
  color: #1B494B;
  font-family: 'DM Sans', sans-serif;
  font-size: 1.5vw;
  text-decoration: none;
  height: 2vw;
  display: block;
}

.Link:hover {
  text-decoration: underline;
}

.Mode:hover {
  text-decoration: none;
}

.ToggleContainer {
  position: relative;
}

.Toggle {
  position: relative;
  right: 1.25vw;
  width: 3.75vw;
  height: 1.875vw;
  border-radius: 17px;
}

.ToggleCircle {
  position: absolute;
  top: 0.18vw;
  width: 1.5vw;
  height: 1.5vw;
  border-radius: 50%;
}

.ToggleCircle[mode='light'] {
  left: 0.8vw;
  animation: moveToggleToLight 0.3s 1;
}

.ToggleCircle[mode='dark'] {
  left: -1vw;
  animation: moveToggleToDark 0.3s 1;
}

@keyframes moveToggleToDark {
  0% {
    left: 0.8vw;
  }
  100% {
    left: -1vw;
  }
}

@keyframes moveToggleToLight {
  0% {
    left: -1vw;
  }
  100% {
    left: 0.8vw;
  }
}