.Main {
  position: relative;
  font-family: 'Volkhov', serif;
  color: #1B494B;
  max-width: 100%;
  margin-bottom: 7.8vw;
}

.Title {
  position: relative;
  font-size: 9.53vw;
  z-index: 9999;
  line-height: 1;
  margin-bottom: 25px;
}

.SecondaryTitle {
  color: white;
  font-size: 3.28vw;
}

.Pic {
  position: absolute;
  width: 33vw;
  height: auto;
  top: 3.95vw;
  left: 53.25vw;
  border-radius: 12px;
  transform: rotate(10.42deg);
  z-index: 1;
}

.Arrow {
  width: 8vw;
  height: auto;
  margin-top: 50px;
}