.SkillsComponent {
  margin-bottom: 8vw;
}

.Skills {
  margin-bottom: 47px;
  text-align: left;
}

p {
  margin-bottom: 16px;
}

.SkillsContainer {
  position: relative;
  height: 7.1vw;
  display: flex;
  margin-bottom: 48px;
  margin-right: 5.7vw;
  justify-content: left;
}

.SkillsContainer:hover {
  cursor: url('../../assets/cursor.png'), pointer;
}

.Icon {
  width: 85%;
  height: auto;
  vertical-align: middle;
  margin: 0 auto;
}

.Arrow {
  transform: rotate(145deg) scaleY(-1);
  width: 8vw;
  height: auto;
  position: relative;
  left: 35vw;
}