.ProjectsComponent {
  margin-bottom: 8vw;
  position: relative;
  scroll-margin-top: 14vw;
}

.Projects {
  width: 19vw;
  margin: 0 auto 3.6vw auto;
  position: relative;
}

.ProjGifs {
  display: flex;
  height: 38.2vw;
  margin-bottom: 1.8vw;
  position: relative;
  right: 2vw;
}

.EarlierProj,
.LaterProj {
  position: absolute;
  border-radius: 12px;
  width: 13.5vw;
  height: 13.5vw;
}

.EarlierProj {
  transform: rotate(-36.07deg);
  left: -23vw;
  top: 40vw;
}

.LaterProj {
  transform: rotate(36.07deg);
  top: 30vw;
  right: -25vw;
}

.PrevProj,
.NextProj {
  width: 26.5vw;
  height: 26.5vw;
  border-radius: 12px;
}

.PrevProj {
  transform: rotate(-19.07deg);
  position: relative;
  right: 9vw;
  top: 9vw;
}

.NextProj {
  transform: rotate(18.07deg);
  position: relative;
  left: 9vw;
  top: 9vw;
}

.CurrentProj {
  position: relative;
  width: 38.2vw;
  height: 38.2vw;
  border-radius: 12px;
  margin: 0 auto;
  top: 0;
  left: 0;
}

.EarlierProj[goforward='1'] {
  animation: earlGoForward 0.6s 1;
}

.PrevProj[goforward='1'] {
  animation: prevGoForward 0.6s 1;
}

.CurrentProj[goforward='1'] {
  animation: currGoForward 0.6s 1;
}

.NextProj[goforward='1'] {
  animation: nextGoForward 0.6s 1;
}

@keyframes earlGoForward {
  0% {
    transform: rotate(-36.07deg);
    left: -23vw;
    top: 40vw;
    width: 13.5vw;
    height: 13.5vw;
  }
  80% {
    transform: rotate(-19.07deg);
    left: -8.5vw;
    top: 18.5vw;
    width: 26.5vw;
    height: 26.5vw;
  }
  100% {
    transform: rotate(-19.07deg);
    left: -8.5vw;
    top: 18.5vw;
    width: 26.5vw;
    height: 26.5vw;
  }
}

@keyframes prevGoForward {
  0% {
    transform: rotate(-19.07deg);
    right: 9vw;
    top: 9vw;
    width: 26.5vw;
    height: 26.5vw;
  }
  80% {
    transform: rotate(0);
    right: -26vw;
    top: 0;
    width: 38.2vw;
    height: 38.2vw;
  }
  100% {
    transform: rotate(0);
    right: -26vw;
    top: 0;
    width: 38.2vw;
    height: 38.2vw;
  }
}

@keyframes currGoForward {
  0% {
    width: 38.5vw;
    height: 38.5vw;
    left: 0vw;
    top: 0vw;
    transform: rotate(0);
  }
  80% {
    width: 26.5vw;
    height: 26.5vw;
    left: 35vw;
    top: 9vw;
    transform: rotate(18.07deg);
  }
  100% {
    width: 26.5vw;
    height: 26.5vw;
    left: 35vw;
    top: 9vw;
    transform: rotate(18.07deg);
  }
}

@keyframes nextGoForward {
  0% {
    transform: rotate(18.07deg);
    left: 9vw;
    top: 9vw;
    width: 26.5vw;
    height: 26.5vw;
  }
  80% {
    transform: rotate(36.07deg);
    left: 40vw;
    top: 20vw;
    width: 13.5vw;
    height: 13.5vw;
  }
  100% {
    transform: rotate(36.07deg);
    left: 40vw;
    top: 20vw;
    width: 13.5vw;
    height: 13.5vw;
  }
}

.PrevProj[goback='1'] {
  animation: prevGoBack 0.6s 1;
}

.CurrentProj[goback='1'] {
  animation: currGoBack 0.6s 1;
}

.NextProj[goback='1'] {
  animation: nextGoBack 0.6s 1;
}

.LaterProj[goback='1'] {
  animation: latrGoBack 0.6s 1;
}

@keyframes prevGoBack {
  0% {
    transform: rotate(-19.07deg);
    position: relative;
    right: 9vw;
    top: 9vw;
    width: 26.5vw;
    height: 26.5vw;
  }
  80% {
    transform: rotate(-36.07deg);
    right: 40vw;
    top: 25vw;
    width: 13.5vw;
    height: 13.5vw;
  }
  100% {
    transform: rotate(-36.07deg);
    right: 40vw;
    top: 25vw;
    width: 13.5vw;
    height: 13.5vw;
  }
}

@keyframes currGoBack {
  0% {
    width: 38.5vw;
    height: 38.5vw;
    left: 0vw;
    top: 0vw;
    transform: rotate(0);
  }
  80% {
    width: 26.5vw;
    height: 26.5vw;
    left: -22.5vw;
    top: 9vw;
    transform: rotate(-18.07deg);
  }
  100% {
    width: 26.5vw;
    height: 26.5vw;
    left: -22.5vw;
    top: 9vw;
    transform: rotate(-18.07deg);
  }
}

@keyframes nextGoBack {
  0% {
    transform: rotate(18.07deg);
    position: relative;
    left: 9vw;
    top: 9vw;
    width: 26.5vw;
    height: 26.5vw;
  }
  80% {
    transform: rotate(0);
    left: -14vw;
    top: 0;
    width: 38.5vw;
    height: 38.5vw;
  }
  100% {
    transform: rotate(0);
    left: -14vw;
    top: 0;
    width: 38.5vw;
    height: 38.5vw;
  }
}

@keyframes latrGoBack {
  0% {
    transform: rotate(36.07deg);
    top: 30vw;
    right: -25vw;
    width: 13.5vw;
    height: 13.5vw;
  }
  80% {
    transform: rotate(19.07deg);
    right: -13.5vw;
    top: 19vw;
    width: 26.5vw;
    height: 26.5vw;
  }
  100% {
    transform: rotate(19.07deg);
    right: -13.5vw;
    top: 19vw;
    width: 26.5vw;
    height: 26.5vw;
  }
}

.ProjectName {
  text-align: center;
}

.NameContainer {
  display: flex;
  width: 50vw;
  margin: 0 auto;
  justify-content: space-between;
  position: relative;
}

.PrevArrow {
  width: 5.1vw;
  height: 3vw;
  transition: transform 0.5s;
}

.NextArrow {
  width: 5.1vw;
  transform: rotate(180deg);
  height: 3vw;
  transition: transform 0.5s;
}

.PrevArrow:hover {
  transform: scale(1.3);
  cursor: url('../../assets/cursor.cur'), pointer;
}

.NextArrow:hover {
  transform: rotate(180deg) scale(1.3);
  cursor: url('../../assets/cursor.cur'), pointer;
}

.PrevArrow:active {
  transform: scale(0.7);
}

.NextArrow:active {
  transform: rotate(180deg) scale(0.7);
}

.LinksContainer {
  display: flex;
  width: 23vw;
  margin: 0 auto;
  position: relative;
  justify-content: space-between;
  margin-bottom: 4.3vw;
}

.Link {
  width: 10.5vw;
  height: 3.1vw;
  border-radius: 10.6vw;
  background-color: #1B494B;
  font-family: 'DM Sans', sans-serif;
  text-decoration: none;
  color: #c4dec1;
  text-align: center;
  line-height: 2.1;
  font-size: 1.5vw;
  border: 2px solid #1B494B;
}

.Link:hover {
  border: 2px solid #1B494B;
  color: #1B494B;
  background-color: #c4dec1;
}

.Arrow {
  transform: rotate(175deg) scaleY(-1);
  width: 14vw;
  height: auto;
  margin: 0 auto;
  position: relative;
  left: 36vw;
}

@media all and (max-width: 414px) {
  .Projects {
    right: 12vw;
  }

  .ProjGifs {
  display: flex;
  height: 62.36vw;
  margin-top: 10.6vw;
  margin-bottom: 7.77vw;
}

  .CurrentProj {
    width: 62.36vw;
    height: 62.36vw;
    left: -26vw;
  }

  .EarlierProj,
  .LaterProj {
    width: 26.5vw;
    height: 26.5vw;
  }
  
  .PrevProj,
  .NextProj {
    width: 39.2vw;
    height: 39.2vw;
  }

  .EarlierProj {
    left: -43vw;
    top: 40vw;
  }

  .LaterProj {
    top: 30vw;
    right: -45vw;
  }

  .PrevProj {
    right: 35vw;
    top: 20vw;
  }

  .NextProj {
    left: -17vw;
    top: 20vw;
  }

  @keyframes earlGoForward {
    0% {
      transform: rotate(-36.07deg);
      left: -23vw;
      top: 40vw;
      width: 13.5vw;
      height: 13.5vw;
    }
    100% {
      transform: rotate(-19.07deg);
      left: -35vw;
      top: 45.5vw;
      width: 39.2vw;
      height: 39.2vw;
    }
  }

  @keyframes prevGoForward {
    0% {
      transform: rotate(-19.07deg);
      right: 35vw;
      top: 20vw;
      width: 39.2vw;
      height: 39.2vw;
    }
    100% {
      transform: rotate(0);
      right: -13.5vw;
      top: 0;
      width: 62.36vw;
      height: 62.36vw;
    }
  }

  @keyframes currGoForward {
    0% {
      width: 62.36vw;
      height: 62.36vw;
      left: -26vw;
      top: 0;
      transform: rotate(0);
    }
    100% {
      width: 39.2vw;
      height: 39.2vw;
      left: 23vw;
      top: 20vw;
      transform: rotate(18.07deg);
    }
  }

  @keyframes nextGoForward {
    0% {
      transform: rotate(18.07deg);
      left: -17vw;
      top: 20vw;
      width: 39.2vw;
      height: 39.2vw;
    }
    100% {
      transform: rotate(36.07deg);
      left: 40vw;
      top: 20vw;
      width: 13.5vw;
      height: 13.5vw;
    }
  }

  @keyframes prevGoBack {
    0% {
      transform: rotate(-19.07deg);
      position: relative;
      right: 35vw;
      top: 20vw;
      width: 39.2vw;
      height: 39.2vw;
    }
    100% {
      transform: rotate(-36.07deg);
      right: 40vw;
      top: 25vw;
      width: 13.5vw;
      height: 13.5vw;
    }
  }

  @keyframes currGoBack {
    0% {
      width: 62.36vw;
      height: 62.36vw;
      left: -26vw;
      top: 0vw;
      transform: rotate(0);
    }
    100% {
      width: 39.2vw;
      height: 39.2vw;
      left: -48vw;
      top: 19.5vw;
      transform: rotate(-18.07deg);
    }
  }

  @keyframes nextGoBack {
    0% {
      transform: rotate(18.07deg);
      left: -17vw;
      top: 20vw;
      width: 39.2vw;
      height: 39.2vw;
    }
    100% {
      transform: rotate(0);
      left: -39vw;
      top: 0;
      width: 62.36vw;
      height: 62.36vw;
    }
  }

  @keyframes latrGoBack {
    0% {
      transform: rotate(20.07deg);
      top: 30vw;
      right: -48vw;
      width: 26vw;
      height: 26vw;
    }
    100% {
      transform: rotate(19.07deg);
      right: -36vw;
      top: 46vw;
      width: 39.2vw;
      height: 39.2vw;
    }
  }

  .NameContainer {
    width: 90vw;
    left: -0.9vw;
  }

  .ProjectName {
    position: relative;
    bottom: 19.5vw;
    height: 5vw;
  }

  .PrevArrow {
    width: 11.5vw;
    height: 12vw;
  }

  .NextArrow {
    width: 11.5vw;
    transform: rotate(180deg);
    height: 12vw;
  }

  .PrevArrow:hover {
    transform: scale(1);
  }

  .NextArrow:hover {
    transform: rotate(180deg);
  }

  .LinksContainer {
    width: 38.5vw;
    height: 28vw;
    flex-direction: column;
    margin-top: -15vw;
    padding-right: 3vw;
  }

  .Link {
    width: 37.8vw;
    height: 10.6vw;
    font-size: 5vw;
  }

  .Arrow {
    transform: rotate(145deg) scaleY(-1);
    width: 30vw;
    position: relative;
    left: 30vw;
    top: 10vw;
  }
}