.ProjectsComponent {
  margin-bottom: 8vw;
}

.Projects {
  width: 19vw;
  margin: 0 auto 3.6vw auto;
}

.ProjGifs {
  display: flex;
  margin-bottom: 1.8vw;
}

.PrevProj,
.NextProj {
  width: 26.5vw;
  height: 26.5vw;
  border-radius: 12px;
}

.PrevProj {
  transform: rotate(-19.07deg);
  position: relative;
  right: 9vw;
  top: 9vw;
}

.NextProj {
  transform: rotate(18.07deg);
  position: relative;
  left: 9vw;
  top: 9vw;
}

.CurrentProj {
  width: 38.2vw;
  height: 38.2vw;
  border-radius: 12px;
  margin: 0 auto;
}

.ProjectName {
  text-align: center;
}

.NameContainer {
  display: flex;
  width: 50vw;
  margin: 0 auto;
  justify-content: space-between;
}


.PrevArrow {
  width: 5.1vw;
  height: auto;
}

.NextArrow {
  width: 5.1vw;
  transform: rotate(180deg);
  height: auto;
}

.LinksContainer {
  display: flex;
  width: 23vw;
  margin: 0 auto;
  justify-content: space-between;
  margin-bottom: 4.3vw;
}

.Link {
  width: 11vw;
  height: 3.1vw;
  border-radius: 40px;
  background-color: #1B494B;
  font-family: 'DM Sans', sans-serif;
  text-decoration: none;
  color: #C9D9C2;
  text-align: center;
  line-height: 2.1;
  font-size: 1.5vw;
}

.Arrow {
  transform: rotate(175deg) scaleY(-1);
  width: 8vw;
  height: auto;
  margin: 0 auto;
  position: relative;
  left: 38vw;
}