.Container {
  width: 100vw;
  height: 10.25vw;
  position: relative;
  margin-bottom: 3.9vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  background-color: #c4dec1;
}

.Menu {
  width: 44.2vw;
  margin-top: 3.5vw;
  position: absolute;
  right: 8vw;
}

ul {
  list-style-type: none;
  display: flex;
  height: 2vw;
  width: inherit;
  justify-content: space-between;
  align-items: middle;
}

.Link {
  color: #1b494b;
  font-family: 'DM Sans', sans-serif;
  font-size: 1.5vw;
  text-decoration: none;
  height: 2vw;
  display: block;
}

.Link:hover {
  text-decoration: underline;
}

.Mode:hover {
  text-decoration: none;
}

.ToggleContainer {
  position: relative;
}

.Toggle {
  position: relative;
  right: 1.25vw;
  width: 3.75vw;
  height: 1.875vw;
  border-radius: 17px;
}

.ToggleCircle {
  position: absolute;
  top: 0.18vw;
  width: 1.5vw;
  height: 1.5vw;
  border-radius: 50%;
}

.ToggleCircle[mode='light'] {
  left: 0.8vw;
  animation: moveToggleToLight 0.3s 1;
}

.ToggleCircle[mode='dark'] {
  left: -1vw;
  animation: moveToggleToDark 0.3s 1;
}

@keyframes moveToggleToDark {
  0% {
    left: 0.8vw;
  }
  100% {
    left: -1vw;
  }
}

@keyframes moveToggleToLight {
  0% {
    left: -1vw;
  }
  100% {
    left: 0.8vw;
  }
}

.MobileMenu,
.MenuBurger {
  display: none;
}

.MobileMenu[mobileMenuOpen='false'] {
  transform: translateX(0);
  transition: transform 1s ease-out;
}

.MobileMenu[mobileMenuOpen='true'] {
  transform: translateX(100%);
  transition: transform 1s ease-out;
}

@media all and (max-width: 414px) {
  .Menu {
    top: -1.5vw;
  }

  .Link[href='#main'],
  .Link[href='#about'],
  .Link[href='#skills'],
  .Link[href='#projects'],
  .Link[href='#contact'] {
    display: none;
  }

  .Mode {
    font-size: 5vw;
    margin-right: 3vw;
  }

  .ToggleMode {
    width: 12.8vw;
    height: 6.4vw;
  }

  .Toggle {
    width: 12.8vw;
    height: 6.4vw;
  }

  .ToggleCircle {
    width: 5.33vw;
    height: 5.33vw;
    position: relative;
    top: -6vw;
  }

  .ToggleCircle[mode='light'] {
    left: 5.5vw;
  }

  .ToggleCircle[mode='dark'] {
    left: -0.6vw;
  }

  .MenuBurger {
    display: inline-block;
    transform: all 1s ease-out;
    margin-left: 5vw;
    position: relative;
    top: 0.5vw;
  }

  .MenuBurger::before {
    content: '';
    position: absolute;
    height: 6.4vw;
    border-left: 2px solid rgba(27, 73, 75, 0.22);
    right: 9vw;
    top: -0.5vw;
  }
}
