.AboutContainer {
  display: flex;
  justify-content: space-between;
  padding-right: 4vw;
  margin-bottom: 15px;
}

p {
  width: 45vw;
  max-width: 100%;
  height: auto;
}

.Arrow {
  transform: rotate(200deg) scaleY(-1);
  width: 8vw;
  height: auto;
  position: relative;
  left: 31vw;
}