.App {
  height: 100vh;
  width: 88.6vw;
  position: relative;
  padding-left: 5.7vw;
  padding-right: 5.7vw;
  max-width: 100%;
  overflow-x: hidden;
}



@media (prefers-reduced-motion: no-preference) {
  
}
