.App {
  background-color: #c4dec1;
  height: 100vh;
  width: 94.3vw;
  position: relative;
  padding-left: 5.7vw;
  max-width: 100%;
  overflow-x: hidden;
}




@media (prefers-reduced-motion: no-preference) {
  
}
