* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  cursor: url('./assets/cursor.cur');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h2 {
  font-family: 'Volkhov', serif;
  font-size: 4.84vw;
}

p {
  font-family: 'DM Sans', sans-serif;
  color: white;
  font-size: 2.03vw;
}

h4 {
  font-family: 'DM Sans', sans-serif;
  font-size: 4vw;
  line-height: 5.3vw;
}

.text[mode='light'],
.linkText[mode='dark'],
.secondaryText[mode='dark'],
.linkText[mode='light']:hover {
  color: #1B4C4C;
  animation: lightToDarkColor 1s 1;
}

.text[mode='dark'],
.linkText[mode='light']
.secondaryText[mode='light'],
.linkText[mode='dark']:hover {
  color: #C4DEC1;
  animation: darkToLightColor 1s 1;
}

.background[mode='light'],
.secondaryBackground[mode='dark'],
.linkBackground[mode='dark'] {
  background-color: #C4DEC1; 
  animation: darkToLightBackground 1s 1;
}

.background[mode='dark'],
.secondaryBackground[mode='light'],
.linkBackground[mode='light'] {
  background-color:  #1B4C4C;
  animation: lightToDarkBackground 1s 1;
}

.linkBackground[mode='light']:hover {
  background-color: #C4DEC1;
  border: 2px solid #1B4C4C;
  animation: darkToLightBackgroundWithBorder 1s 1;
}

.linkBackground[mode='dark']:hover {
  background-color:  #1B4C4C;
  border: 2px solid #C4DEC1;
  animation: lightToDarkBackgroundWithBorder 1s 1;
}

@keyframes lightToDarkColor {
  0% {
    color: #C4DEC1;
  }
  100% {
    color: #1B4C4C;
  }
}

@keyframes darkToLightColor {
  0% {
    color: #1B4C4C;
  }
  100% {
    color: #C4DEC1;
  }
}

@keyframes lightToDarkBackgroundWithBorder {
  0% {
    background-color: #C4DEC1;
    border: 2px solid #1B4C4C;
  }
  100% {
    background-color: #1B4C4C;
    border: 2px solid #C4DEC1;
  }
}

@keyframes darkToLightBackgroundWithBorder {
  0% {
    background-color: #1B4C4C;
    border: 2px solid #C4DEC1;
  }
  100% {
    background-color: #C4DEC1;
    border: 2px solid #1B4C4C;
  }
}
@keyframes lightToDarkBackground {
  0% {
    background-color: #C4DEC1;
  }
  100% {
    background-color: #1B4C4C;
  }
}

@keyframes darkToLightBackground {
  0% {
    background-color: #1B4C4C;
  }
  100% {
    background-color: #C4DEC1;
  }
}

@media all and (max-width: 414px) {
  h2 {
    font-size: 11.2vw;
    margin-bottom: 10.6vw;
  }

  p {
    font-size: 6.93vw;
  }
}